<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>login success</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th> Name </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${userForms.empty}">
                <td colspan="1"> No User </td>
            </tr>
            <tr th:each="user : ${userForms}">
                <td><span th:text="${user.name}"></span></td>
            </tr>
        </tbody>
    </table>
</body>

</html>